In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import requests
import json
from datetime import datetime, timedelta
import time
import math
from collections import Counter

In [2]:
file_name = "airlines.csv"
airlines_data = pd.read_csv(file_name)
airlines_data.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [10]:
file_name = "flights.csv"
flights_data = pd.read_csv(file_name, dtype={ 'YEAR': int, 'MONTH': int, 'DAY': int, 'DAY_OF_WEEK': int,
                                             'AIRLINE': np.string_, 'FLIGHT_NUMBER': int, 'TAIL_NUMBER': np.string_, 
                                             'ORIGIN_AIRPORT': np.string_, 'DESTINATION_AIRPORT': np.string_, 
                                             'SCHEDULED_DEPARTURE': int, 'DEPARTURE_TIME': float,
                                             'DEPARTURE_DELAY': float, 'TAXI_OUT': float, 'WHEELS_OFF': float,
                                             'SCHEDULED_TIME': float, 'ELAPSED_TIME': float, 'AIR_TIME': float,
                                             'DISTANCE': int, 'WHEELS_ON': float, 'TAXI_IN': float, 'SCHEDULED_ARRIVAL': int,
                                             'ARRIVAL_TIME': float, 'ARRIVAL_DELAY': float, 'DIVERTED': int, 'CANCELLED': int,
                                             'CANCELLATION_REASON': np.string_, 'AIR_SYSTEM_DELAY': float, 'SECURITY_DELAY': float, 
                                             'AIRLINE_DELAY': float,'LATE_AIRCRAFT_DELAY': float,'WEATHER_DELAY': float,},
                          usecols=[1,4,7,8])
flights_data.head()

   MONTH AIRLINE ORIGIN_AIRPORT DESTINATION_AIRPORT
0      1      AS            ANC                 SEA
1      1      AA            LAX                 PBI
2      1      US            SFO                 CLT
3      1      AA            LAX                 MIA
4      1      AS            SEA                 ANC

In [18]:
for i in range(1,13):
    month = flights_data[flights_data.MONTH == i]
    print(len(month))
    
flights_data = flights_data[flights_data.MONTH == 6]
flights_data = flights_data[flights_data.ORIGIN_AIRPORT == "LAX"]

469968
429191
504312
485151
496993
503897
520718
510536
464946
486165
467972
479230

In [19]:
d = {'IATA_CODE': flights_data.AIRLINE, 'ORIGIN_AIRPORT': flights_data.ORIGIN_AIRPORT, 'DESTINATION_AIRPORT': flights_data.DESTINATION_AIRPORT}
df = pd.DataFrame(data=d)
df.to_csv("node.csv", encoding='utf-8', index=False)

In [5]:
flights_data = pd.merge(flights_data, airlines_data, left_on='AIRLINE', right_on='IATA_CODE', how='left')
flights_data.drop('IATA_CODE', axis=1, inplace=True)
flights_data.rename(columns={'AIRLINE_x': 'IATA_CODE','AIRLINE_y': 'AIRLINE'}, inplace=True)
flights_data.head()

  IATA_CODE ORIGIN_AIRPORT DESTINATION_AIRPORT                 AIRLINE
0        AS            ANC                 SEA    Alaska Airlines Inc.
1        AA            LAX                 PBI  American Airlines Inc.
2        US            SFO                 CLT         US Airways Inc.
3        AA            LAX                 MIA  American Airlines Inc.
4        AS            SEA                 ANC    Alaska Airlines Inc.

In [6]:
d = {'IATA_CODE': flights_data.IATA_CODE, 'AIRLINE': flights_data.AIRLINE, 'ORIGIN_AIRPORT': flights_data.ORIGIN_AIRPORT, 'DESTINATION_AIRPORT': flights_data.DESTINATION_AIRPORT}
df = pd.DataFrame(data=d)
df.to_csv("node.csv", encoding='utf-8', index=False)