In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import requests
import json
from datetime import datetime, timedelta
import time
import math
from collections import Counter

In [2]:
file_name = "airlines.csv"
airlines_data = pd.read_csv(file_name)
airlines_data.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [1]:
file_name = "flights.csv"
flights_data = pd.read_csv(file_name, dtype={ 'YEAR': int, 'MONTH': int, 'DAY': int, 'DAY_OF_WEEK': int,
                                             'AIRLINE': np.string_, 'FLIGHT_NUMBER': int, 'TAIL_NUMBER': np.string_, 
                                             'ORIGIN_AIRPORT': np.string_, 'DESTINATION_AIRPORT': np.string_, 
                                             'SCHEDULED_DEPARTURE': int, 'DEPARTURE_TIME': float,
                                             'DEPARTURE_DELAY': float, 'TAXI_OUT': float, 'WHEELS_OFF': float,
                                             'SCHEDULED_TIME': float, 'ELAPSED_TIME': float, 'AIR_TIME': float,
                                             'DISTANCE': int, 'WHEELS_ON': float, 'TAXI_IN': float, 'SCHEDULED_ARRIVAL': int,
                                             'ARRIVAL_TIME': float, 'ARRIVAL_DELAY': float, 'DIVERTED': int, 'CANCELLED': int,
                                             'CANCELLATION_REASON': np.string_, 'AIR_SYSTEM_DELAY': float, 'SECURITY_DELAY': float, 
                                             'AIRLINE_DELAY': float,'LATE_AIRCRAFT_DELAY': float,'WEATHER_DELAY': float,},
                          usecols=[1,4,7,8])
flights_data.head()

NameError: name 'pd' is not defined

In [35]:
f = flights_data.copy()
flights_data = f.copy()
flights_data = flights_data[flights_data.MONTH == 6]
flights_data = flights_data[flights_data.AIRLINE == "AA"]

In [36]:
d = {'IATA_CODE': flights_data.AIRLINE, 'ORIGIN_AIRPORT': flights_data.ORIGIN_AIRPORT, 'DESTINATION_AIRPORT': flights_data.DESTINATION_AIRPORT}
df = pd.DataFrame(data=d)
df.to_csv("node.csv", encoding='utf-8', index=False)

In [31]:
flights_data = pd.merge(flights_data, airlines_data, left_on='AIRLINE', right_on='IATA_CODE', how='left')
flights_data.drop('IATA_CODE', axis=1, inplace=True)
flights_data.rename(columns={'AIRLINE_x': 'IATA_CODE','AIRLINE_y': 'AIRLINE'}, inplace=True)
flights_data.head()

ValueError: labels ['IATA_CODE'] not contained in axis

In [6]:
d = {'IATA_CODE': flights_data.IATA_CODE, 'AIRLINE': flights_data.AIRLINE, 'ORIGIN_AIRPORT': flights_data.ORIGIN_AIRPORT, 'DESTINATION_AIRPORT': flights_data.DESTINATION_AIRPORT}
df = pd.DataFrame(data=d)
df.to_csv("node.csv", encoding='utf-8', index=False)