In [72]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
from collections import Counter

In [73]:
file_name = "flights.csv"
flights_data = pd.read_csv(file_name, dtype={ 'YEAR': int, 'MONTH': int, 'DAY': int, 'DAY_OF_WEEK': int,
                                             'AIRLINE': np.string_, 'FLIGHT_NUMBER': int, 'TAIL_NUMBER': np.string_, 
                                             'ORIGIN_AIRPORT': np.string_, 'DESTINATION_AIRPORT': np.string_, 
                                             'SCHEDULED_DEPARTURE': int, 'DEPARTURE_TIME': float,
                                             'DEPARTURE_DELAY': float, 'TAXI_OUT': float, 'WHEELS_OFF': float,
                                             'SCHEDULED_TIME': float, 'ELAPSED_TIME': float, 'AIR_TIME': float,
                                             'DISTANCE': int, 'WHEELS_ON': float, 'TAXI_IN': float, 'SCHEDULED_ARRIVAL': int,
                                             'ARRIVAL_TIME': float, 'ARRIVAL_DELAY': float, 'DIVERTED': int, 'CANCELLED': int,
                                             'CANCELLATION_REASON': np.string_, 'AIR_SYSTEM_DELAY': float, 'SECURITY_DELAY': float, 
                                             'AIRLINE_DELAY': float,'LATE_AIRCRAFT_DELAY': float,'WEATHER_DELAY': float,},
                          usecols=[1,4,7,8])
flights_data.head()

   MONTH AIRLINE ORIGIN_AIRPORT DESTINATION_AIRPORT
0      1      AS            ANC                 SEA
1      1      AA            LAX                 PBI
2      1      US            SFO                 CLT
3      1      AA            LAX                 MIA
4      1      AS            SEA                 ANC

In [74]:
f = flights_data.copy()
flights_data = f.copy()
flights_data = flights_data[flights_data.MONTH == 6]

In [75]:
flights_data.head()

         MONTH AIRLINE ORIGIN_AIRPORT DESTINATION_AIRPORT
2385615      6      NK            LAS                 IAH
2385616      6      AA            SEA                 DFW
2385617      6      DL            ANC                 SLC
2385618      6      US            SLC                 CLT
2385619      6      F9            LAS                 IAD

In [76]:
flights_data = flights_data.drop('MONTH', axis=1)
flights_data2 = flights_data.copy()
flights_data = flights_data.drop('AIRLINE', axis=1)
len(flights_data)

503897

In [77]:
flights_data = flights_data.drop_duplicates()
len(flights_data)

4122

In [78]:
flights_data.head()

        ORIGIN_AIRPORT DESTINATION_AIRPORT
2385615            LAS                 IAH
2385616            SEA                 DFW
2385617            ANC                 SLC
2385618            SLC                 CLT
2385619            LAS                 IAD

In [79]:
d = {'ORIGIN_AIRPORT': flights_data.ORIGIN_AIRPORT, 'DESTINATION_AIRPORT': flights_data.DESTINATION_AIRPORT}
df = pd.DataFrame(data=d)
df.to_csv("trace.csv", encoding='utf-8', index=False)

In [80]:
flights_data2.head()

        AIRLINE ORIGIN_AIRPORT DESTINATION_AIRPORT
2385615      NK            LAS                 IAH
2385616      AA            SEA                 DFW
2385617      DL            ANC                 SLC
2385618      US            SLC                 CLT
2385619      F9            LAS                 IAD